* {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FCFCFC !important;
}

.column {
    /* width: 100% !important; */
}

.sectionLabel {
    font-size: 1.6rem;
    font-weight: 300;
}

.blackText {
    color: #202020;
}

.grayText {
    color: #707070 !important;
}

.shadeGrayText {
    color: #7B7B7B !important;
}

.lightGrayText {
    color: #E3E3E3 !important;
}

.navbar {
    background-color: #FCFCFC !important;
}

/* Glassmorphic effect */
.glassy {
    backdrop-filter: blur(10px) saturate(200%);
    -webkit-backdrop-filter: blur(10px) saturate(200%);
    -moz-backdrop-filter: blur(10px) saturate(200%);
    -o-backdrop-filter: blur(10px) saturate(200%);
    background-color: #fcfcfcbe !important;
    border: 1px solid rgba(241, 241, 241, 0.3);
}

.navLabel {
    color: #5C5C5C;
    font-size: larger;
}

.navLabel:hover {
    color: #3a3a3a;
}

.homePage {
    min-width: 80em;
}

.name {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 90%;
    margin-left: 1.7em;
}

.description {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 95%;
    min-width: 15em;
    /* width: 95%; */
}

.blackButton, .grayButton {
    width: 8.5em;
    height: 3.7em;
    border-radius: 10px;
    border: none;
    outline: 0;
}

.grayButton {
    background-color: #CFCFCF;
    color: #262626;
}

.blackButton {
    background-color: #262626;
    color: #CFCFCF;
    text-decoration: none;
}

.blackButton:hover {
    color: #e2e0e0;
    text-decoration: none;
}

.grayButton:hover {
    color: #5e5e5e;
    text-decoration: none;
}

.buttonText {
    font-weight: 300;
    font-size: larger;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
}

.buttons {
    padding-left: 4em;
}

.mainSection {
    width: 75%;
}

.verticaline {
    width: 0.05em;
    height: 30em;
    background-color: #707070;
}

.dropup {
    opacity: 0;
    height: 0 !important;
}

#mobsec {
    height: 10em;
    transition: 1s;
}

@media screen and (max-width: 650px) {
    .topnav {
        display: none !important;
    }

    .topnavmobile {
        display: block !important;
    }
    #graph0 {
        display: none;
    }
    .name {
        margin-left: 0.8em;
        zoom: 70%;
        -moz-transform: 70%;
    }
    .categoryIcon {
        margin-right: 2em;
    }
    .buttons {
        padding-left: 0em;
    }
    .homePage {
        min-width: 0 !important;
    }
}

@media screen and (min-width: 650px) {
    .topnavmobile {
        display: none !important;
    }
}

/* ScrollBar */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0.625rem;
}
/* /// */

/* Description animation */
.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(175px);
              transform: translateX(175px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(175px);
              transform: translateX(175px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
/* /// */
