* {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.blackText {
    color: #202020;
}

.grayText {
    color: #707070;
}

.shadeGrayText {
    color: #7B7B7B;
}

.lightGrayText {
    color: #E3E3E3 !important;
}

.navLabel {
    color: #5C5C5C;
    font-size: larger;
}

.navLabel:hover {
    color: #3a3a3a;
}

.homePage {

}

.name {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 90%;
}

.description {
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 95%;
}